*
{
    margin: 0;
    padding: 0;
    font-family: 'Raleway' , sans-serif;
}

body 
{
    background: #696060;
    
}

.container
{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.login-box
{
    background-color: #AAA4A4;
    padding: 30px;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h1
{
    text-align: center;
    margin-bottom: 20px;
    color: #353761;
}

img {
    display: block;
    margin: auto;
    width: 165px;
}

.user-box input
{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 1px solid rgb(133, 131, 131);
    background-color: transparent;
    margin-bottom: 10px;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    
}

.user-box
{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.user-box input:focus
{
    border-bottom: 1px solid #363a7e;
}

.user-box label
{
    color: #000;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.user-box input:focus + label,
.user-box input:valid + label
{
    font-size: 13px;
    margin-top: 0;
    color: #363a7e;
}

button
{
    background-color: #C98740;
    color: #FFFF;
    padding: 10px;
    text-align: center;
    width: 250px;
    height: 40px;
    font-size: 12pt;
    border: transparent;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    
}

button:hover
{
    background-color: #9c6c38;
    transition: all .4s ease-out;
}

.botao 
{
    display: flex;
    justify-content: center;
}

.fa-eye-slash
{
    position: absolute;
    top: 17px;
    right: 1px;
    cursor: pointer;
    color: rgb(80, 75, 75);
    
}

.fa-user-o
{
    position: absolute;
    top: 17px;
    right: 1px;
    color: rgb(80, 75, 75);
}